.modal{
    padding-top: 30% ;
    background-color: #3BF0D0;
    .close{
        padding: 1rem;
        font-size: 2rem;
    }
    .title{
        padding-left: 4.5rem;
        font-weight: bold;
    }
}