<ion-content [fullscreen]="true">
   <div class="content" >
    <div class="top">
      <a class="back-btn" (click)="goBack()"><img src="../../../assets/img/back-button.png" alt=""></a>
      <p class="date"> {{ data?.uuid }}</p>
    </div>
    <div class="cabecera">
      <div class="cab-col">
        <p class="g">Meta</p>
        <p class="money-g">{{ data?.amount }}€</p>
      </div>
      <div class="cab-col">
        <p class="i">Porcentaje</p>
        <p class="money-i">{{ data?.percent }}%</p>
      </div>
    </div>
    <ion-list class="gastos">
      <ion-item *ngFor="let i of items" class="gasto">
        <div class="money">{{ i?.money }}€</div>
        <div class="desc">{{ i?.username }}</div>
      </ion-item>
      <ion-button *ngIf="admin" (click)="deleteGroup()" expand="block" shape="round" class="delete">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-list>
  </div>
</ion-content>