<ion-slides pager="true" [options]="slideOptsOne">
  <ion-slide>
    <img src="assets\img\euro.png" />
    <h2>Gestiona tus gastos <br/> facilemente, <br/> <br/> ¡Cuidado con lo que gastas!</h2>    
    <ion-button  shape="round" (click)="next()">
      <strong> Siguiente </strong>
    </ion-button>
  </ion-slide>

  <ion-slide>
    <img src="assets\img\mando.png" />
    <h2>Ponte metas, consigue <br/> ahorrar y luego, date un <br/> caprichito.<br/><br/></h2>
    <ion-button  shape="round" (click)="next()">
      <strong> Siguiente </strong>
    </ion-button>
  </ion-slide>

  <ion-slide>
    <img src="assets\img\group.png" />
    <h2>Crea grupos de ahorros y <br/> motivaos unos a otros <br/> <br/> ¡Con amigos todo es mejor!</h2>
    <ion-button  shape="round" (click)="finish()">
      <strong> Continuar </strong>
    </ion-button>
  </ion-slide>
</ion-slides>