<ion-content class="ion-padding">
  <div class="page">
    <div class="fixed">
      <div class="nav">
        <a class="back-btn" (click)="goBack()"><img src="../../../assets/img/back-button.png" alt=""></a>
        <a class="add-btn" (click)="presentModal()"><img src="../../../assets/img/add-button.png" alt=""></a>
      </div>
      <div class="page-data">
        <p class="page-name">Ingresos</p>
        <p class="page-date">{{ data?.fecha }}</p>
      </div>
      <div class="content">
        <div class="card main-card">
          <div class="months">
            <div class="card-col">
              <p class="money">{{ data?.mes_pasado }}€</p>
              <p class="month">Mes pasado</p>
            </div>
            <div class="card-col">
              <p class="money">{{ data?.este_mes }}€</p>
              <p class="month">Este mes</p>
            </div>
          </div>
          <div class="sentence">
            <p *ngIf="data?.diferencia > 0">Has ingresado <span class="money">{{ data?.diferencia }}€</span> más que el mes pasado. 🔥</p>
            <p *ngIf="data?.diferencia < 0">Has ingresado <span class="money">{{ data?.diferencia * -1 }}€</span> menos que el mes pasado.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <ion-list class="gastos">
        <ion-item-sliding  *ngFor="let i of items">
          <ion-item (click)="showInfo(i.id,i.title,i.description,i.amount,i.date)" class="gasto"><div class="money">{{i.amount}}€</div><div class="desc">{{i.title}}</div></ion-item>
          
          <ion-item-options side="start" id="left">
            <ion-item-option (click)="editIncome(i.id,i.title,i.description,i.amount,i.date)" class="boton left">Editar</ion-item-option>
          </ion-item-options>
    
          <ion-item-options side="end" id="right">
            <ion-item-option (click)="deleteIncome(i.id)"class="boton right">Borrar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>
