<ion-header class="modal">
  <ion-toolbar class="header">
    <ion-title class="title">Editar Ingreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenido">
    <div expand="full">
      <ion-label><h2><b>Título</b></h2></ion-label>
      <ion-input class="title" placeholder="Ej:Nómina" type="text" [(ngModel)]="title"></ion-input>
    </div>
    <div expand="full">
      <ion-label><h2><b>Descripción</b></h2></ion-label>
      <ion-input class="description" placeholder="Ej:Mes de Mayo" type="text" [(ngModel)]="description"></ion-input>
    </div>
    <div class="double">
      <div class="left">
        <ion-label><h2><b>Cantidad</b></h2></ion-label>
        <ion-input  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" class="amount" placeholder="Ej:1000,00" type="number" [(ngModel)]="amount"></ion-input>
      </div>
      <div class="right">
        <ion-label><h2><b>Fecha</b></h2></ion-label>
        <ion-datetime  displayFormat="DD-MM-YYYY" class="date" value="dd-mm-YYYY" [(ngModel)]="date"></ion-datetime>
      </div>
    </div>
    <ion-button (click)="createIncome()" expand="block" shape="round">
      Editar Ingreso
    </ion-button>
  </div>
</ion-content>
