<ion-content [fullscreen]="true">
  <div class="content">
    <p class="date"> 01 may. - 09 may.</p>
    <div class="cabecera">
      <div class="card-col">
        <p class="money-g">104,38€</p>
        <p class="g">Gastos</p>
      </div>
      <div class="card-col">
        <p class="money-i">1037,29€</p>
        <p class="i">Ingresos</p>
      </div>
    </div>
    <div class="card-1">
      <div class="card main-card">
        <div class="months">
          <div class="card-col">
            <p class="money">932,91€</p>
            <p class="months-text">Ahorro</p>
          </div>
          <div class="card-col">
            <p class="money">200€</p>
            <p class="months-text">Meta</p>
          </div>
        </div>
        <div class="sentence">
          <p>Has ahorrado <b>362,20€</b> más que el mes pasado <br/><br/>¡Estás consiguiendo tu meta
            de ahorros!</p>
        </div>
      </div>
    </div>
    <div class="card-2">
      <div class="card main-card">
        <div class="months">
          <div class="card-col">
            <p class="text-m">Último gasto</p>
            <p class="money">14,30€</p>
          </div>
        </div>
        <div class="sentence">
          <p class="gastos">Ver gastos</p>
          <p class="gasto">Buguer King con Clara</p>
        </div>
      </div>
    </div>
    <div class="card-3">
      <div class="card main-card">
        <div class="months">
          <div class="card-col">
            <p class="text-m">Último ingreso</p>
            <p class="money">33,40€</p>
          </div>
        </div>
        <div class="sentence">
          <p class="ingresos">Ver ingresos</p>
          <p class="ingreso">Devolución entrada WBFarg wethwetr hwth</p>
        </div>
      </div>
    </div>
    <div class="card-4">
      <div class="card main-card">
        <div class="months">
          <div class="card-col">
            <p class="text-a">Ahorro mes pasado</p>
            <p class="money">570,71€</p>
          </div>
        </div>
        <div class="sentence">
          <p class="ahorros">Ver ahorros</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>