<ion-content>
  <div class="content">
    <ion-icon class="image" name="person-circle-outline"></ion-icon>
    <h1>Inicio de sesión</h1>
    <ion-item>
      <ion-input type="text" expand="full" [(ngModel)]="name"></ion-input>
      <ion-icon name="mail" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input type="text" expand="full" [(ngModel)]="username"></ion-input>
      <ion-icon name="mail" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input type="text" expand="full" [(ngModel)]="email"></ion-input>
      <ion-icon name="mail" slot="end"></ion-icon>
    </ion-item>
    <ion-button (click)="update()" expand="full" shape="round" >
      Actualizar datos
    </ion-button>
    <ion-button (click)="logOut()" expand="full" shape="round" >
      Log out
    </ion-button>
  </div>
</ion-content>