ion-content{
  --background: #fff;
  --background: none;
  background-image: url('../../assets/img/fondo.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
ion-button{
  --background: rgb(209, 209, 209);
  border-radius: 5rem;
}