<ion-content [fullscreen]="true">
  <div class="content">
    <p class="date"></p>
    <div class="cabecera">
      <div class="cab-col">
        <p class="g">{{ user.name }}</p>
      </div>
      <div class="cab-col">
        <p class="i">@{{ user.username }}</p>
      </div>
    </div>
    <div class="card-2 main-card card" (click)="goGastos()">
      <div class="card-row flex-center">
        <div class="card-col">
          <p class="gastos">Meta mensual</p>
        </div>
      </div>
      <div class="card-row">
        <div class="card-col">
          <p class="money">14,30€</p>
        </div>
        <div class="card-col">
        <p class="gasto">Editar</p>
        </div>
      </div>
    </div>
    <div class="card-1">
      <div class="card main-card">
        <div class="card-row">
          <div class="card-col">
            <p class="text">Total gastado</p>
          </div>
          <div class="card-col">
            <p class="money">14,30€</p>
          </div>
        </div>
        <div class="card-row">
          <div class="card-col">
            <p class="text">Total ingresado</p>
          </div>
          <div class="card-col">
            <p class="money">14,30€</p>
          </div>
        </div>
        <div class="card-row">
          <div class="card-col">
            <p class="text">Total ahorrado</p>
          </div>
          <div class="card-col">
            <p class="money">14,30€</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-2 main-card card">
      <div class="card-row flex-center">
        <div class="card-col">
          <p class="text-m">Cambiar contraseña</p>
        </div>
      </div>
    </div>

    <div class="small-buttons">
      <div class="smal-btn">
        <div class="card-small main-card card" (click)="logOut()">
          <div class="card-row flex-center">
            <p class="gastos">Cerrar sesión</p>
          </div>
        </div>
      </div>
      <div class="smal-btn">
        <div class="card-small main-card card">
          <div class="card-row flex-center">
            <p class="gastos">Editar perfil</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>