<ion-slides>

  <ion-slide pager="true">
    <img src="assets\euro.png" />
    <h2>Gestiona tus gastos <br/> facilemente, <br/> <br/> ¡Cuidado con lo que gastas!</h2>    
    <ion-button  shape="round" (click)="slideNext()">
      <b> Siguiente </b>
    </ion-button>
  </ion-slide>

  <ion-slide>
    <img src="assets\mando.png" />
    <h2>Ponte metas, consigue <br/> ahorrar y luego, date un <br/> caprichito.<br/><br/></h2>
    <ion-button  shape="round" (click)="slideNext()">
      <b> Siguiente </b>
    </ion-button>
  </ion-slide>

  <ion-slide>
    <img src="assets\group.png" />
    <h2>Crea grupos de ahorros y <br/> motivaos unos a otros <br/> <br/> ¡Con amigos todo es mejor!</h2>
    <ion-button  shape="round" (click)="slideNext()">
      <b> Siguiente </b>
    </ion-button>
  </ion-slide>
</ion-slides>