<ion-content class="ion-padding">
    <div class="page">
      <div class="fixed">
        <div class="nav">
            <a class="add-btn" (click)="addGroup()"><img src="../../../assets/img/add-button.png" alt=""></a>
        </div>
      </div>
  
      <div class="content">
        <h4 *ngIf="noItems" class="noGroups">Aun no tienes grupos ☹️, crea o únete a uno.</h4>
            <div class="gasto center" *ngIf="data?.admin">
              <p>Editar</p>
            </div>
        <ion-list class="gastos">
            <ion-item *ngFor="let i of items" class="gasto">
              <div class="money">{{ i?.amount }}€</div>
              <div class="desc">{{ i?.name }}</div>
            </ion-item>
          </ion-list>
      </div>
    </div>
  </ion-content>