<ion-content [fullscreen]="true">
  <div class="content">
    <p class="date"> 01 may. - 09 may.</p>
    <div class="cabecera">
      <div class="cab-col">
        <p class="g">Gastos</p>
        <p class="money-g">104,38€</p>
      </div>
      <div class="cab-col">
        <p class="i">Ingresos</p>
        <p class="money-i">1037,29€</p>
      </div>
    </div>
    <div class="card-1">
      <div class="card main-card">
        <div class="months">
          <div class="card-col">
            <p class="money">932,91€</p>
            <p class="months-text">Ahorro</p>
          </div>
          <div class="card-col">
            <p class="money">200€</p>
            <p class="months-text">Meta</p>
          </div>
        </div>
        <div class="sentence">
          <p>Has ahorrado <span>362,20€</span> más que el mes pasado </p>
          <p>¡Estás consiguiendo tu meta de ahorros!</p>
        </div>
      </div>
    </div>
    <div class="card-2 main-card card" (click)="goGastos()">
      <div class="card-row">
        <div class="card-col">
          <p class="text-m">Último gasto</p>
        </div>
        <div class="card-col">
          <p class="gastos">Ver gastos</p>
        </div>
      </div>
      <div class="card-row">
        <div class="card-col">
          <p class="money">14,30€</p>
        </div>
        <div class="card-col">
        <p class="gasto">Buguer King con Clara</p>
        </div>
      </div>
    </div>
    <div class="card-2 main-card card" (click)="goIngresos()">
      <div class="card-row">
        <div class="card-col">
          <p class="text-m">Último ingreso</p>
        </div>
        <div class="card-col">
          <p class="gastos">Ver ingresos</p>
        </div>
      </div>
      <div class="card-row">
        <div class="card-col">
          <p class="money">33,30€</p>
        </div>
        <div class="card-col">
          <p class="gasto">WBF devolución</p>
        </div>
      </div>
    </div>
    <div class="card-4">
      <div class="card main-card">
        <div class="months">
          <div class="card-col">
            <div class="text">
              <p class="text-a">Ahorro mes pasado</p>
              <p class="ahorros">Ver ahorros</p>
            </div>
            <p class="money">570,71€</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>