<ion-content [fullscreen]="true">
  <div class="content" >
    <p class="date"> {{ data?.fecha }}</p>
    <div class="cabecera">
      <div class="cab-col">
        <p class="g">Gastos</p>
        <p class="money-g">{{ data?.gastos }}€</p>
      </div>
      <div class="cab-col">
        <p class="i">Ingresos</p>
        <p class="money-i">{{ data?.ingresos }}€</p>
      </div>
    </div>
    <div class="card-1">
      <div class="card main-card">
        <div class="months">
          <div class="card-col">
            <p class="money">{{ data?.main_card?.ahorro }}€</p>
            <p class="months-text">Ahorro</p>
          </div>
          <div class="card-col">
            <p class="money">{{ data?.main_card?.meta }}€</p>
            <p class="months-text">Meta</p>
          </div>
        </div>
        <div class="sentence">
          <p *ngIf="data?.main_card?.ahorro > data?.main_card?.meta ">¡Estás consiguiendo tu meta! 🎉</p>
          <p *ngIf="data?.main_card?.ahorro < data?.main_card?.meta ">No estas consiguiendo tu meta 😢</p>
        </div>
      </div>
    </div>
    <div class="card-2 main-card card" (click)="goGastos()">
      <div class="card-row">
        <div class="card-col">
          <p class="text-m">Último gasto</p>
        </div>
        <div class="card-col">
          <p class="gastos">Ver gastos</p>
        </div>
      </div>
      <div class="card-row">
        <div class="card-col">
          <p class="money">{{ data?.gastos_card?.dinero }}€</p>
        </div>
        <div class="card-col">
        <p class="gasto">{{ data?.gastos_card?.mensaje }}</p>
        </div>
      </div>
    </div>
    <div class="card-2 main-card card" (click)="goIngresos()">
      <div class="card-row">
        <div class="card-col">
          <p class="text-m">Último ingreso</p>
        </div>
        <div class="card-col">
          <p class="gastos">Ver ingresos</p>
        </div>
      </div>
      <div class="card-row">
        <div class="card-col">
          <p class="money">{{ data?.ingreso_card?.dinero }}€</p>
        </div>
        <div class="card-col">
          <p class="gasto">{{ data?.ingreso_card?.mensaje }}</p>
        </div>
      </div>
    </div>
    <div class="card-4">
      <div class="card main-card">
        <div class="months">
          <div class="card-col">
            <div class="text">
              <p class="text-a">Ahorro mes pasado</p>
            </div>
            <p class="money">{{ data?.mes_pasado }}€</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>